.project-index-container {
    @include flex-center(row);
    @include blue-gradient;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.project-index-title {
    @extend .splash-title;
    @include vertical;
    position: fixed;
    left: -100px;
    top: calc(50vh - 48px);
}

.project-index-item-container {
    @include flex-center(column);
}

.project-index-item-title {
    @extend .resume-index-item-big-title;
    width: calc(100% - 20px);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    padding: 10px 0;
    background-color: $white;
    color: $japanese-indigo;
}

.project-index-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 200px;
    width: 300px;
    margin: 0 10px;
}

.ashai {
    background-image: url("https://i.imgur.com/uKa7PTJ.png");
    background-size: cover;
}

.latinforaddicts {
    background-image: url("https://i.imgur.com/IOymMYV.png");
    background-size: cover;
}

.project-index-item-overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    @include flex-center(column);
}

.project-index-item:hover .project-index-item-slide-container {
    bottom: -380px;
}

.view-project-button {
    @extend .splash-link;
    @include hover-ease(color,
    0.3s);
}

.view-project-button:hover {
    color: $maximum-blue;
}

.project-index-item-description {
    background: $japanese-indigo;
    @include flex-center(column);
    z-index: 1;
    padding: 0 30px;
    height: calc(200px);
    width: calc(300px - 60px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.project-index-item-description>p {
    color: white;
    text-align: center;
}

.project-index-item-slide-container {
    position: absolute;
    bottom: 0;
    left: 0;
    @include flex-center(row);
    height: 100%;
    width: 100%;
    transition: bottom 0.6s cubic-bezier(0, 0, 0.4, 1);
    background-color: $japanese-indigo;
    z-index: 1;
}

.project-index-item-slide-icon {
    @include flex-center(column);
    height: 100%;
    z-index: 2;
}

.project-index-item-slide-icon {
    padding: 0 60px;
    position: absolute;
    margin-top: 0;
}

.projext-index-item-big-title {
    @extend .resume-index-item-big-title;
    color: $maximum-blue;
}

.projext-index-item-little-title {
    @extend .resume-index-item-little-title;
    color: $white;
}

.project-index-item-arrow-down {
    color: $maximum-blue;
    font-size: 36px;
}

.great-content {
    color: $maximum-blue;
}

.diagonal-line-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
}

.diagonal-line-1 {
    @include expand-delayed;
    position: relative;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

.diagonal-line-1::before {
    content: "";
    position: absolute;
    border-top: 5px solid $white;
    width: 100%;
    height: 100%;
    transform: rotate(60deg) scale(2.5);
    transform-origin: 0% 0%;
    top: -30px;
}

.diagonal-line-2 {
    @extend .diagonal-line-1;
}

.diagonal-line-2::before {
    content: "";
    position: absolute;
    border-top: 5px solid $powder-blue;
    width: 100%;
    height: 100%;
    transform: rotate(40deg) scale(2.5);
    transform-origin: 0% 0%;
    top: -30px;
}

.fixed-corner-nav-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    @include flex-space-between(column);
    height: 120px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .project-index-container {
        @include flex-center(column);
    }
    .project-index-item {
        margin: 10px 0;
    }
    .project-index-item-slide-container {
        bottom: -380px;
    }
}