.resume-container {
    @include flex-center(column);
    width: 80vw;
    margin: 0 0 0 10vw;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.resume-header {
    @include flex-space-between(row);
    @include blue-gradient;
    z-index: 1;
    height: 100px;
    padding: 30px;
    width: calc(80vw - 60px);
}

.resume-title {
    font-size: 72px;
    color: $white;
}

.resume-contact-details-index {
    @include flex(column);
    align-items: flex-end;
}

.resume-contact-details-index-item {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: $white;
}