.resume-body-container {
    @include flex-center(row);
    align-items: center;
    justify-content: flex-start;
    border-right: 3px solid black;
    width: calc(80vw - 3px);
}

.resume-sidebar {
    @include flex-center(column);
    align-items: flex-end;
    justify-content: flex-start;
    background-color: $medium-gray;
    padding: 10px 0px 40px 10px;
    width: 35vw;
}

.resume-main {
    @include flex(column);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 10px 40px 10px;
    background-color: $white;
    flex: 1 1 auto;
    width: 45vw;
}

.resume-sidebar-title {
    width: 100%;
    text-align: right;
    margin: 30px 0 0px 0;
    font-size: 48px;
    color: $black;
}

.resume-main-title {
    @extend .resume-sidebar-title;
    color: $dark-blue;
    text-align: left;
}

.resume-sidebar-index {
    @include flex(column);
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0 30px 0 0;
}

.resume-main-index {
    @extend .resume-sidebar-index;
    align-items: center;
    margin: 0 0 0 30px;
}

.resume-sidebar-index-item {
    @extend .resume-sidebar-index;
    margin: 0 0 0 0;
}

.resume-main-index-item {
    @extend .resume-main-index;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
    height: 270px;
    width: 90%;
    padding: 0px 30px;
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 30px 10px 0 0;
}

.resume-sidebar-index-item-title {
    margin: 30px 0 0 0;
    color: $dark-blue;
    text-align: right;
    font-size: 36px;
}

.title-reverse-margin {
    margin: 0 0 30px 0;
}

.resume-main-index-item-title {
    font-size: 36px;
    margin: 0 0 0 0;
    color: $black;
    text-align: left;
}

.resume-sidebar-index-item-subtitle {
    text-align: right;
    color: $dark-blue;
    margin: 0 0 15px 0;
    font-size: 20px;
}

.resume-sidebar-index-item-date {
    @extend .resume-sidebar-index-item-subtitle;
    margin: 30px 0 0 0;
}

.resume-main-index-item-subtitle {
    text-align: left;
    color: $black;
    margin: 0 0 0 0;
    font-size: 20px;
}

.resume-main-index-item-date {
    text-align: left;
    color: $black;
    margin: 0 0 15px 0;
    font-size: 20px;
}

.resume-sidebar-index-item-content {
    text-align: right;
    font-size: 20px;
    color: $black;
}

.resume-main-index-item-content {
    text-align: left;
    font-size: 20px;
    color: $dark-blue;
}

.resume-sidebar-divider {
    width: 80%;
    height: 0px;
    margin: 30px 0 0 0;
    border-top: 1px solid $white;
}

.resume-main-divider {
    @extend .resume-sidebar-divider;
    border-top: 1px solid $medium-gray;
}

.add-30-top-margin {
    margin: 30px 0;
}