.resume-body-container {
    @include flex(row);
    justify-content: flex-start;
    align-items: flex-start;
    width: 70vw;
    height: 100%;
    z-index: 1;
}

.resume-sidebar {
    @include flex(column);
    align-items: flex-end;
    justify-content: flex-start;
    background-color: $powder-blue;
    padding: 0px 30px 0px 30px;
    width: 30vw;
    height: 100%;
}

.resume-main {
    @extend .resume-sidebar;
    border-right: none;
    align-items: flex-start;
    width: 40vw;
    background-color: $white;
}

.resume-body-title {
    width: 100%;
    margin: 30px 0 10px 0;
    font-size: 24px;
    text-transform: uppercase;
}

.resume-sidebar-title {
    @extend .resume-body-title;
    text-align: right;
    color: $black;
}

.resume-main-title {
    @extend .resume-body-title;
    text-align: left;
    color: $black;
}

.resume-body-index {
    @include flex(column);
    justify-content: flex-start;
}

.resume-sidebar-index {
    @extend .resume-body-index;
    align-items: flex-end;
}

.resume-main-index {
    @extend .resume-body-index;
    align-items: flex-start;
}

//??
.resume-sidebar-index-item {
    @extend .resume-sidebar-index;
}

.resume-main-index-item {
    @extend .resume-main-index;
    height: auto;
    justify-content: center;
    margin: 20px 0;
}

.resume-index-item-header-alignment-container {
    @include flex(column);
    margin: 15px 0;
}

.resume-sidebar-index-item-header-alignment-container {
    @extend .resume-index-item-header-alignment-container;
    align-items: flex-end;
}

.resume-main-index-item-header-alignment-container {
    @extend .resume-index-item-header-alignment-container;
    align-items: flex-start;
    margin: 0 0 15px 0;
}

.resume-index-item-big-title {
    font-size: 24px;
}

.resume-sidebar-index-item-big-title {
    @extend .resume-index-item-big-title;
    color: $black;
}

.resume-main-index-item-big-title {
    @extend .resume-index-item-big-title;
    color: $black;
}

.resume-index-item-little-title {
    font-size: 16px;
}

.resume-sidebar-index-item-little-title {
    @extend .resume-index-item-little-title;
    color: $black;
}

.resume-main-index-item-little-title {
    @extend .resume-index-item-little-title;
    margin: 5px 0 0 0;
    color: $black;
}

.resume-main-index-item-little-title-date {
    @extend .resume-index-item-little-title;
    margin: 0 0 0 0;
}

.resume-index-item-content {
    font-size: 16px;
    margin: 3px 0;
}

.resume-sidebar-index-item-content {
    @extend .resume-index-item-content;
    text-align: right;
    color: $black;
}

.resume-main-index-item-content {
    @extend .resume-index-item-content;
    margin: 10px 0 0 0;
    text-align: left;
    color: $black;
}

.resume-main-index-item-content-detail {
    @extend .resume-main-index-item-content;
    list-style-type: circle;
    margin: 3px 0 0 20px;
}

.resume-sidebar-divider {
    width: 80%;
    height: 0px;
    margin: 30px 0 0 0;
    border-top: 1px solid $maximum-blue;
}

.resume-link {
    display: inline-block;
    color: $maximum-blue;
    @include hover-ease(color, 0.5s);
}

// .resume-link:hover {
//     color: $japanese-indigo;
// }