.resume-container {
    @include flex-center(column);
    width: 70vw;
    margin: 30px 0 30px 15vw;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.resume-header {
    @include flex-space-between(column);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    @include blue-gradient;
    padding: 30px 0;
    height: 125px;
    width: 70vw;
    z-index: 1;
}

.resume-title {
    font-size: 64px;
    color: $white;
}

.resume-contact-details-index {
    @include flex-center(row);
}

.resume-contact-details-index-item {
    margin: 0 10px;
    font-size: 16px;
    color: $white;
}

.line-one {
    @include expand;
    @include animation-delay(0.3s);
    border-bottom: 50px solid $japanese-indigo;
    height: calc(10vh + 185px);
    position: fixed;
    top: 0;
    right: 0;
}

.line-two {
    @include expand;
    @include animation-delay(0.5s);
    border-bottom: 25px solid $maximum-blue;
    height: calc(10vh + 235px);
    position: fixed;
    top: 0;
    right: 0;
}

.line-three {
    @include expand;
    @include animation-delay(0.7s);
    border-bottom: 12.5px solid $japanese-indigo;
    height: calc(10vh + 260px);
    position: fixed;
    top: 0;
    right: 0;
}