.resume-body-container {
    @include flex(row);
    justify-content: flex-start;
    align-items: flex-start;
    width: 70vw;
    height: 100%;
}

.resume-sidebar {
    @include flex(column);
    align-items: flex-end;
    justify-content: flex-start;
    background-color: $medium-gray;
    border-right: $light-green 3px solid;
    padding: 0px 30px 0px 30px;
    width: 30vw;
    height: 100%;
}

.resume-main {
    @extend .resume-sidebar;
    border-right: none;
    align-items: flex-start;
    width: 40vw;
    background-color: $white;
}

.resume-body-title {
    width: 100%;
    margin: 30px 0 0 0;
    font-size: 36px;
}

.resume-sidebar-title {
    @extend .resume-body-title;
    text-align: right;
    color: $black;
}

.resume-main-title {
    @extend .resume-body-title;
    text-align: left;
    color: $dark-blue;
}

.resume-body-index {
    @include flex(column);
    justify-content: flex-start;
}

.resume-sidebar-index {
    @extend .resume-body-index;
    align-items: flex-end;
}

.resume-main-index {
    @extend .resume-body-index;
    align-items: flex-start;
}

//??
.resume-sidebar-index-item {
    @extend .resume-sidebar-index;
}

.resume-main-index-item {
    @extend .resume-main-index;
    height: auto;
    justify-content: center;
    margin: 20px 0;
}

.resume-index-item-header-alignment-container {
    @include flex(column);
    margin: 15px 0;
}

.resume-sidebar-index-item-header-alignment-container {
    @extend .resume-index-item-header-alignment-container;
    align-items: flex-end;
}

.resume-main-index-item-header-alignment-container {
    @extend .resume-index-item-header-alignment-container;
    align-items: flex-start;
    margin: 0 0 15px 0;
}

.resume-index-item-big-title {
    font-size: 24px;
}

.resume-sidebar-index-item-big-title {
    @extend .resume-index-item-big-title;
    color: $dark-blue;
}

.resume-main-index-item-big-title {
    @extend .resume-index-item-big-title;
    color: $black;
}

.resume-index-item-little-title {
    font-size: 16px;
}

.resume-sidebar-index-item-little-title {
    @extend .resume-index-item-little-title;
    color: $dark-blue;
}

.resume-main-index-item-little-title {
    @extend .resume-index-item-little-title;
    color: $black;
}

.resume-index-item-content {
    font-size: 16px;
}

.resume-sidebar-index-item-content {
    @extend .resume-index-item-content;
    text-align: right;
    color: $black;
}

.resume-main-index-item-content {
    @extend .resume-index-item-content;
    text-align: left;
    color: $dark-blue;
}

.resume-sidebar-divider {
    width: 80%;
    height: 0px;
    margin: 30px 0 0 0;
    border-top: 1px solid $white;
}

.resume-link {
    display: inline-block;
    @include hover-ease(all, 0.3s);
}

.resume-link:hover {
    color: $light-green;
}

.resume-arrow-up {
    @include arrow-up($light-green);
    margin: 0 0 5px 0;
}

.resume-education-container {
    @extend .resume-main-index-item;
    height: auto;
}