$dark-blue: #165371;
$light-blue: #79A1D7;
$medium-gray: #A6AFA4;
$light-gray: #B9C3C2;
$lavender-gray: #868BA7;
$dark-green: #66A182;
$light-green: #AEF78E;
$white: #FFFFFF;
$black: #000000;
@mixin blue-gradient {
    background: #165371;
    background: -moz-linear-gradient(-45deg, #165371 0%, #79a1d7 100%);
    background: -webkit-linear-gradient(-45deg, #165371 0%, #79a1d7 100%);
    background: linear-gradient(135deg, #165371 0%, #79a1d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165371', endColorstr='#79a1d7', GradientType=1);
}

@mixin lavender-gradient {
    background: #b9c3c2;
    background: -moz-linear-gradient(-45deg, #b9c3c2 1%, #868ba7 100%);
    background: -webkit-linear-gradient(-45deg, #b9c3c2 1%, #868ba7 100%);
    background: linear-gradient(135deg, #b9c3c2 1%, #868ba7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9c3c2', endColorstr='#868ba7', GradientType=1);
}