//new color schema
$maximum-blue: #50B1BF;
$robin-egg-blue: #95D6D7;
$powder-blue: #B9E5E6;
$white: #F7F7F7;
$japanese-indigo: #1F4549;
$black: #000000;
@mixin blue-gradient {
    background: #06beb6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}