@mixin background-gradient($default, $gradient) {
    background: $default;
    background: -webkit-linear-gradient($gradient);
    background: -o-linear-gradient($gradient);
    background: -moz-linear-gradient($gradient);
    background: linear-gradient($gradient);
}

@mixin flex-center($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction
}

@mixin flex-space-around($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: $direction
}

@mixin flex-space-between($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: $direction
}

@mixin flex($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@keyframes expand {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@mixin expand {
    width: 0%;
    -webkit-animation: expand ease-in 1;
    -moz-animation: expand ease-in 1;
    animation: expand ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@mixin animation-delay($time) {
    -webkit-animation-delay: $time;
    -moz-animation-delay: $time;
    animation-delay: $time;
}

@mixin hover-ease($property, $pace) {
    -webkit-transition: $property $pace ease-in;
    -moz-transition: $property $pace ease-in;
    -ms-transition: $property $pace ease-in;
    -o-transition: $property $pace ease-in;
    transition: $property $pace ease-in;
}

@mixin material-button-defaults {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 15px 35px;
}

@mixin expanding-bottom-border($color, $thickness) {
    content: '';
    display: block;
    width: 100%;
    height: $thickness;
    background: $color;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

@mixin expanding-bottom-border-after-hover {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@mixin material-div-defaults {
    z-index: 1;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

@mixin material-card-defaults($h, $w) {
    background-color: white;
    border-radius: 5px;
    height: $h;
    width: $w;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin arrow-down($color) {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color;
}

@mixin vertical {
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}