//utils
@import 'utils/reset';
@import 'utils/colors';
@import 'utils/mixins';
@import url('https://fonts.googleapis.com/css?family=Lato');
//components
@import 'splash';
@import 'resume/resume_header';
@import 'resume/resume_body';
@import 'resume/resume_footer';
//containers
html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    overflow: scroll;
}

main {
    width: 100%;
    min-height: 100%;
    @include flex(row);
}

// links and buttons
a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

//remove ugly browser defaults
button:active,
button:focus,
input:active,
input:focus,
textarea:focus,
textarea:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
}

input {
    border: none;
}

// submit buttons on forms without valid input
.disabled-a {
    pointer-events: none;
    cursor: none;
}