.resume-container {
    @include flex(column);
    width: 100%;
}

.resume-header {
    @include flex-space-between(row);
    background-color: $dark-green;
    height: 100px;
    padding: 30px;
    @include material-div-defaults;
}

.resume-title {
    font-size: 72px;
    color: white;
}

.resume-contact-details-index {
    @include flex(column);
    align-items: flex-end;
}

.resume-contact-details-index-item {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: white;
}

.resume-body {
    padding: 40px 30px 30px 30px;
    @include flex-space-around(row);
    align-items: flex-start;
}

.resume-index-header {
    color: $dark-green;
    font-size: 48px;
    margin: 30px 0;
    z-index: 1;
}

.resume-index {
    @include flex-center(column);
}

.resume-index-item {
    margin: 0 0 30px 0;
    z-index: 1;
    @include material-card-defaults(400px, 750px);
    @include flex-space-between(column);
    align-items: flex-start;
}

.resume-index-item-header-alignment-container {
    @include flex-space-between(row);
    background-color: $dark-green;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 750px;
    height: 150px;
}

.resume-index-item-header {
    @include flex(column);
    justify-content: center;
}

.resume-index-item-header-bold {
    margin: 0 0 0 20px;
    color: white;
    font-size: 36px;
    font-weight: 500;
}

.resume-index-item-header-detail {
    @extend .resume-index-item-header-bold;
    margin: 3px 0 0 20px;
    font-size: 24px;
}

.resume-index-item-header-date {
    @extend .resume-index-item-header-detail;
    margin: 0 20px 0 0;
}

.resume-index-item-content-index {
    @include flex(column);
    justify-content: center;
    margin: 0 0 0 10px;
    width: 600px;
    height: 250px;
}

.resume-index-item-content-index-item {
    margin: 5px 0 5px 30px;
    font-size: 24px;
}

.resume-index-item-content-index-subitem {
    @extend .resume-index-item-content-index-item;
    margin: 0 0 5px 50px;
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
}

.resume-footer {
    @include flex-center(row);
    padding: 30px;
    height: 50px;
    background-color: white;
}

.resume-footer-icon {
    color: white;
    background-color: $dark-green;
    padding: 20px;
    border-radius: 36%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    margin: 0 10px;
}

.line-left {
    @include expand-height;
    border-right: 3px solid $dark-green;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.line-left-two {
    @extend .line-left;
    width: 125px;
    @include animation-delay(0.5s);
}

.line-left-three {
    @extend .line-left;
    width: 150px;
    @include animation-delay(1s);
}

.line-right {
    @include expand-height;
    @include animation-delay(0.5s);
    border-left: 3px solid $dark-green;
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
}

.line-right-two {
    @extend .line-right;
    width: 125px;
    @include animation-delay(1.5s);
}

.line-right-three {
    @extend .line-right-two;
    width: 150px;
    @include animation-delay(2s);
}